html {
  overscroll-behavior-x: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none;
}

.navbar {
  background-color: #2c3e50;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #1abc9c;
}

.container {
  width: 80%;
  margin: 20px auto;
  background: #34495e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #ecf0f1;
  text-align: center;
  background: #1abc9c;
  padding: 10px;
  border-radius: 5px;
}

.search-box {
  background: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search-box label {
  font-weight: bold;
  display: inline-block;
  width: 15vh;
  font-size: 14px;
}

.search-box input {
  padding: 8px;
  width: 30vh;
  border: 1px solid #2c3e50;
  border-radius: 5px;
}

.search-box input[type="checkbox"] {
  padding: 10px;
  width: auto;
  margin-right: 10px;
}

.search-box .search-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 40%;
}

.search-button {
  width: 7%;
}

.add-button {
  width: fit-content;
  margin: 30px 0 20px 0;
}

.search-button button,
.add-button a {
  padding: 10px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.search-box button:hover {
  background: #16a085;
}

.checkbox-label {
  width: 200px;
}

.checkbox-label label {
  width: fit-content;
}

.custom-checkbox {
  appearance: none;
  width: 1px;
  height: 12px;
  border: 2px solid #2c3e50;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked::before {
  content: "\2713";
  font-size: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox:checked {
  background: #1abc9c;
}

.add-button a:hover {
  background: #16a085;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-size: 14px;
}

table,
th,
td {
  border: 1px solid #2c3e50;
}

th,
td {
  padding: 10px;
  text-align: center;
  height: 23px;
}

table tr td.id {
  transition: 0.5s;
}

table tr td.id:hover {
  color: white;
  background-color: #16a085;
  cursor: pointer;
}

.button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.edit {
  background: #1abc9c;
  color: white;
}

.edit:hover {
  background: #16a085;
}

.delete {
  background: #e74c3c;
  color: white;
}

.delete:hover {
  background: #c0392b;
}

.extend {
  background: #34495e;
  color: white;
}

.extend:hover {
  background: #2c3e50;
}

.form-wrapper {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 35%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 50%;
  font-size: 15px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 70%;
  padding: 8px;
  border: 1px solid #2c3e50;
  border-radius: 5px;
}

.form-group .validation-error {
  position: absolute;
  display: none;
  left: 68%;
}

.form-group .error-line {
  background-color: darkred;
  padding: 5px;
  color: white;
  position: relative;
  border-radius: 5px;
  font-size: 12px;
}

.form-group .arrow-error {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-right: 10px solid darkred;
  border-bottom: 13px solid transparent;
  bottom: 0px;
  right: -3px;
}

.show-error {
  display: flex !important;
}

input[readonly],
input[readonly]:hover,
input[readonly]:focus {
  background-color: lightgray;
  color: darkslategray;
  cursor: not-allowed;
}

.form-group input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-input {
  margin: 5px 0;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.btn-form {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-submit {
  background: #1abc9c;
  margin: 0 5px;
}

.btn-submit:hover {
  background: #16a085;
}

.btn-back {
  background: #e74c3c;
}

.btn-back:hover {
  background: #c0392b;
}

/* Modal Container */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

/* Modal Content */
.modal-content {
  background: #34495e;
  padding: 25px;
  border-radius: 10px;
  width: 450px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ecf0f1;
}

.modal-content.detail,
.modal-content.modal-delete,
.modal-content.modal-extend {
  display: none;
}

/* Modal Title */
.modal-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ecf0f1;
}

/* Close Button (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: #e74c3c;
  transform: rotate(90deg);
}

/* Modal Rows */
.modal-row {
  display: flex;
  justify-content: space-between;
  background: rgba(236, 240, 241, 0.1);
  padding: 8px 8px 8px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
}

/* Text inside modal */
.modal-row p,
.modal-row .modal-label {
  margin: 0;
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.modal-row p.modal-label {
  width: 50%;
}

.modal-row span {
  margin: 0 10px;
}

/* Information box */
.modal-info {
  text-align: left;
  font-weight: bold;
  color: #ecf0f1;
  width: 100%;
}

/* Button Styles */
.btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-close {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.btn-approve {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.btn-approve:hover {
  background-color: #16a085;
}

.btn-close:hover {
  background-color: #c0392b;
}

.active {
  display: block !important;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.pagination .pagination-info {
  padding: 4px;
  border-radius: 7px;
  font-size: 12px;
  background-color: white;
  position: relative;
  right: 5px;
}

.pagination .pagination-left,
.pagination .pagination-right {
  background-color: transparent;
  color: white;
  align-self: center;
  position: relative;
  font-size: 20px;
}

.pagination .pagination-left {
  position: relative;
  right: 10px;
}
