<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">

<head>
    <div th:replace="~{layout/layout :: head}"></div>
</head>

<body>
    <div class="container">
        <div class="excecption-info">
            <!--            <img th:src="" alt="error-image">-->
            <p class="error-info-page">Oops, the service is unavailable, please try again later !</p>
        </div>
        <div class="back-exception-button">
            <a th:href="@{/dashboard}">Back</a>
        </div>
    </div>
</body>

</html>